

img {
    max-width: 100%;
    height: auto;
    float: none;
    margin-right: 0;
}

.surf,
.scuba,
.beach-buggy,
.jet {
    display: block;
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
}

.surf {
    background: rgb(82, 202, 239);
    margin-top: 20px;
    margin-bottom: 20px;
}

.scuba {
    margin-top: 20px;
    margin-bottom: 20px;
}

.beach-buggy {
    margin-top: 20px;
}

.jet {
    background: rgb(8, 111, 99);
}

.surf h1,
.scuba h1,
.beach-buggy h1 {
    margin: 20px 0;
}

.surf-image,
.buggy-img {
    max-width: 100%;
    height: auto;
    float: none;
    margin: 10px 0;
}

.buggy {
    background: rgba(241, 241, 16, 0.946);
    padding: 20px;
}

.dive {
    background: rgba(0, 0, 255, 0.447);
    opacity: 1;
    padding: 20px;
}

@media (max-width: 767px) {
    .surf,
    .scuba,
    .beach-buggy,
    .jet {
        width: 100%;
        margin: 10px 0;
    }

    .surf {
        margin-top: 10px;
        margin-right: 0;
        padding: 10px;
    }

    .scuba,
    .beach-buggy,
    .jet {
        margin-top: 10px;
        margin-left: 0;
        margin-right: 0;
    }

    .surf h1,
    .scuba h1,
    .beach-buggy h1 {
        margin: 10px 0;
    }
}


.footer {
    background: goldenrod;
    color: #fff;
    padding: 20px;
    text-align: left;
    
}

.foot {
    list-style: none;
}